In [9]:
import pandas as pd

### Экспорт данных в формат csv осуществляется с помощью метода         **DataFrame to_csv()**            

* **path_or_buf** — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
* **sep** — разделитель данных в выходном файле (по умолчанию ',');
* **decimal** — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
* **columns** — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
* **index** — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

### Запись и чтение в других форматах

* **to_excel()** — запись DataFrame в формат Excel-таблицы (.xlsx);
* **to_json()** — запись DataFrame в формат JSON (.json);
* **to_xml()** — запись DataFrame в формат XML-документа (.xml);
* **to_sql()** — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).
##
* **read_excel()** — чтение из формата Excel-таблицы (.xlsx) в DataFrame;
* **read_json()** — чтение из формата JSON (.json) в DataFrame;
* **read_xml()** — чтение из формата XML-документа (.xml) в DataFrame;
* **read_sql()** — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).

### Для демонстрации использования функции read_table() выполним следующее: 

* используя  функцию read_csv(), считаем данные из файла countries.csv в переменную countries_data, создав объект DataFrame;
* используя уже знакомую функцию to_csv(), выгрузим этот DataFrame в файл countries.txt (с расширением TXT), который сохраним в папке data. В качестве разделителя используется символ пробела (" ").

In [19]:
# используя  функцию read_csv(), считаем данные из файла countries.csv в переменную countries_data, создав объект DataFrame;
countries_data = pd.read_csv('data/countries.csv', sep=';')
display (countries_data)


# используя уже знакомую функцию to_csv(), выгрузим этот DataFrame в файл countries.txt (с расширением TXT), который сохраним в папке data. 
# В качестве разделителя используется символ пробела (" ").
countries_data.to_csv('data/countries.txt', index=False, sep=' ')

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

##### Считаем данные из файла countries.txt в переменную txt_df  (объект DataFrame), применив функцию read_table() с параметрами sep=' '  и  index_col=['country'] (так мы избавимся от столбца с индексом и присвоим названия строкам, используя данные одного из столбцов). Выводим на экран полученный результат:

In [18]:
# Загружаем данные из файла в переменную, создавая объект DataFrame
txt_df = pd.read_table('data/countries.txt', sep=' ', index_col=['country'])
display (txt_df)

           population      area
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902